
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.errors {
    background-color: #FFCCCC;
    padding: 10px;
}


.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 24px;
}

ul.plana {
    list-style-type: none;
    padding:0; 
    margin:0;
  }